<app-header [hinfo]="bio"></app-header>
<mat-tab-group mat-stretch-tabs  
               class="example-stretched-tabs mat-elevation-z4"
		[ngStyle]="{textAlign: 'center'}">

<mat-tab label="Breakfast Menu">
    <app-json-list [breakfastList]='breakfast'>
    </app-json-list>
</mat-tab>
<mat-tab label="Lunch Menu">
  <app-json-list [lunchList]='lunch'>
  </app-json-list>
</mat-tab>

<mat-tab label="Dinner Menu">
  <app-json-list [dinnerList]='dinner'>
  </app-json-list>
</mat-tab>

</mat-tab-group>
<app-footer [hinfo]="bio"></app-footer>